<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo App</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="img&svg/logo_chill.svg" type="image/x-icon">
</head>

<body>

    <!-- Video de fondo -->
    <video autoplay muted loop playsinline class="bg-video">
        <source src="mov_bbb.mp4" type="video/mp4">
    </video>
    <div class="overlay"></div>

    <!-- Header -->
    <header class="top-bar">
       <a href="/">  <div><img src="img&svg/full_logoo.svg" alt="todo_main_logo" width="140px"></div></a>
        <nav>
            <a href="#">Inicio</a>
            <a href="#">Features</a>
            <a href="#">Contacto</a>
        </nav>
    </header>

    <!-- Contenedor principal -->
    <main class="container">
        <section class="hero">
            <h1>Organiza tu vida con <span>ToDo Vlc</span></h1>
            <p>Gestiona tareas, recordatorios y mejora tu productividad desde cualquier dispositivo.</p>
            <div class="buttons">
                <a th:href="@{/registrarse}" class="btn btn-primary">
                    Empezar Gratis
                </a>
                <a th:href="@{/inicioSesion}" class="btn btn-primary">
                    Iniciar Sesión
                </a>
            </div>
        </section>

        <section class="features">
            <div class="feature-box">
                <h3>Rápida</h3>
                <p>Interfaz optimizada y ligera.</p>
            </div>

            <div class="feature-box">
                <h3>Segura</h3>
                <p>Datos protegidos en todo momento.</p>
            </div>

            <div class="feature-box">
                <h3>Multiplataforma</h3>
                <p>Funciona en móvil y ordenador.</p>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer class="bottom-bar">
        <div>2026</div>
        <div><a href="https://github.com/Nicoaz25"><img src="img&svg/github_icon.svg" alt="github_logo"
                    width="20px"></a></div>
        <div>IES La Sénia</div>
        <div><a href="https://github.com/pabhb2-bnnuy"><img src="img&svg/github_icon.svg" alt="github_logo"
                    width="20px"></a></div>

    </footer>

</body>

</html>