<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo App</title>

    <link rel="stylesheet" th:href="@{/css/form_style.css}">
    <link rel="shortcut icon" href="media/logo_chill.svg" type="image/x-icon">
</head>

<body>

    <!-- VIDEO FONDO -->
    <video autoplay muted loop playsinline class="bg-video">
        <source src="media/mov_bbb.mp4" type="video/mp4">
    </video>

    <div class="overlay"></div>

    <!-- HEADER -->
    <header class="top-bar">

        <a href="/" class="logo">
            <img src="media/full_logoo.svg" alt="todo_main_logo" width="150px">
        </a>

        <nav>

            <a href="/">Inicio</a>
            <a href="#">Mis proyectos</a>
            <a href="#">Perfil</a>

            <!-- BARRA SEPARADORA -->
            <span class="nav-divider">|</span>

            <!-- BOTÓN CERRAR SESIÓN -->
            <a href="/cerrarSesion" class="logout-btn">
                ⎋ Cerrar sesión
            </a>

        </nav>

    </header>

    <!-- CONTENIDO PRINCIPAL -->
    <main class="dashboard">

        <!-- SIDEBAR -->
        <aside class="sidebar">

            <h2>Workspaces</h2>

            <ul>
                <li th:each="p : ${proyectos}">
                    <a th:href="@{'/proyecto/' + ${p.id}}">
                        📁 <span th:text="${p.nombre}"></span>
                    </a>
                </li>
            </ul>

            <a href="/datosProyecto"><button class="new-project-btn">
                    + Nuevo Proyecto
                </button>
            </a>


        </aside>

        <!-- TABLERO -->
        <section class="board-container">

            <!-- COLUMNA -->
            <div class="board-column">

                <div class="column-header">
                    <h3>Por hacer</h3>
                    <span>3</span>
                </div>

                <div class="task-card">

                </div>

                <div class="task-card">

                </div>

                <div class="task-card">

                </div>

            </div>

            <!-- COLUMNA -->
            <div class="board-column">

                <div class="column-header">
                    <h3>En progreso</h3>
                    <span>2</span>
                </div>

                <div class="task-card active">

                </div>

                <div class="task-card active">

                </div>

            </div>

            <!-- COLUMNA -->
            <div class="board-column">

                <div class="column-header">
                    <h3>Completado</h3>
                    <span>2</span>
                </div>

                <div class="task-card done">

                </div>

                <div class="task-card done">

                </div>

            </div>

        </section>

    </main>

    <!-- FOOTER -->
    <footer class="bottom-bar">

        <div>2026</div>

        <div>
            <a href="https://github.com/Nicoaz25">
                <img src="media/github_icon.svg" alt="github_logo" width="20px">
            </a>
        </div>

        <div>IES La Sénia</div>

        <div>
            <a href="https://github.com/pabhb2-bnnuy">
                <img src="media/github_icon.svg" alt="github_logo" width="20px">
            </a>
        </div>

    </footer>

</body>

</html>